<mat-toolbar color="primary">
	<mat-toolbar-row>
			<a mat-list-item class="nav-text" routerLink="/">{{title}}</a>
			<span class="fill-remaining-space"></span>
			<a mat-list-item href="https://github.com/equestrianvault/horsebooks/issues/new/choose" target="_blank">
				<img id="bug-desktop" class="desktop-only" src="assets/desktop-bug.png"/>
				<img id="bug-mobile" class="mobile-only" src="assets/mobile-bug.png"/>
			</a>
			<a mat-list-item href="https://github.com/equestrianvault/horsebooks" target="_blank">
				<img id="github-desktop" class="desktop-only" src="assets/desktop-github.png"/>
				<img id="github-mobile" class="mobile-only" src="assets/mobile-github.png"/>
			</a>
			<a mat-list-item href="https://discord.gg/4Bh49Y8" target="_blank">
				<img id="discord-desktop" class="desktop-only" src="assets/desktop-discord.png"/>
				<img id="discord-mobile" class="mobile-only" src="assets/mobile-discord.png"/>
			</a>
	</mat-toolbar-row>
</mat-toolbar>	