.fill-remaining-space {
	flex: 1 1 auto;
}
mat-toolbar-row{
	margin-top: 10px;
}
.nav-text{
	padding-bottom: 10px;
}

#bug-desktop{
	height: 26px;
	margin-right: 12px;
}
#bug-mobile{
	height: 40px;
}

#github-desktop{
	height: 26px;
	margin-right: 12px;
}
#github-mobile{
	height: 40px;
}

#discord-desktop{
	height: 26px;
}
#discord-mobile{
	height: 40px;
}

mat-toolbar-row a{
	margin-right: 8px;
}
mat-toolbar-row a:last-child{
	margin-right: 0px;
}

@media screen and (min-width: 601px){
	.mobile-only{
		display: none;
	}
}

@media screen and (max-width: 600px){
	.desktop-only{
		display: none;
	}
}