.fill-remaining-space {
	flex: 1 1 auto;
}
mat-toolbar-row{
	margin-top: 10px;
}
.nav-text{
	padding-bottom: 10px;
}
#discord img{
	height: 30px;
}
#github img{
	height: 30px;
}
mat-toolbar-row a{
	margin-right: 4px;
}
mat-toolbar-row a:last-child{
	margin-right: 0px;
}

@media screen and (min-width: 601px){
	.mobile-only{
		display: none;
	}
}

@media screen and (max-width: 600px){
	.desktop-only{
		display: none;
	}
}