<li style="background-image: url({{book.img}})" class="book">
	<div class="bookTitle">{{ book.title }}</div>
	<div class="bookImage"><img src="{{ book.img }}"/></div>
	<div class="rating">
		Rating: {{ book.rating }}
	</div>
	<div class="authors" *ngIf = "book.authors.length > 0">
		Authors: 
		<ul *ngFor = "let author of book.authors">
			<li *ngIf = "author.url != undefined && author.url != null && author.url != ''">
				<a href="{{ author.url }}" target="_blank">{{ author.name }}</a>
			</li>
			<li *ngIf = "author.url == undefined || author.url == null || author.url == ''">
				{{ author.name }}
			</li>
		</ul>
		<br style="clear: both;"/>
	</div>
	<div class="links">
		Links:
		<ul *ngFor = "let link of book.links">
			<li *ngIf = "link.url != undefined && link.url != null && link.url != ''">
				<a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
			</li>
			<li *ngIf = "link.url == undefined || link.url == null || link.url == ''">
				{{ link.title }}
			</li>
		</ul>
		<br style="clear: both;"/>
	</div>
	<div>Tags: <ul *ngFor = "let tag of book.tags" class='tag'><li>{{ tag }}</li></ul></div>
</li>