div{
	margin: 0;
	padding: 0;
}
table, th, td{
	/*border: 1px solid black;*/
	border-collapse: collapse;
}
table{
	width: 100%;
	column-span: 2;
	empty-cells: show;
}
th{
	width: 85px;
	text-align: right;
	vertical-align: top;
}
td{
	/*width: 50px;*/
	text-align: left;
}


.book{
	display: list-item;
	float: left;
	border: 2px solid black;
	margin: 0;
	margin-right: 10px;
	padding: 5px 10px;
	align-content: center;
	width: 250px;
}

.bookTitle{
	text-align: center;
	border-bottom: 2px;
}

.bookImage{
	width: 100%;
	padding: 0;
	margin: 0;
}
.bookImage img{
	width: 100%;
	padding: 0;
	margin: 0;
}

.bookTitle{
	font-weight: bold;
	font-size: 1.5em;
}

.rating{
}

.tags{

}
.tags td ul{
	list-style: none;
	padding: 0;
}
.tag{
	background-color: beige;
	padding: 0 5px;
	list-style: none;
	margin-bottom: 2px;
}
.tag:hover{
	background-color: lightgrey;
}

.authors ul{
	list-style: none;
	padding: 0;
	display: block;
}
.authors ul li{
	display: inline-block;
	float: left;
	padding: 0 .25em;
	margin-right: .25em;
	background-color: beige;
	margin-bottom: 2px;
}
.authors ul li:hover{
	background-color: lightgrey;
}

.links ul{
	list-style: none;
	padding: 0;
	display: block;
}
.links ul li{
	display: list-item;
	float: left;
	padding: 0 .25em;
	margin-right: .25em;
	background-color: beige;
}
.links ul li:hover{
	background-color: lightgrey;
}