div.book-card{
	height: 350px;
	overflow: hidden;
}
div.title{
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 4.5em; 
	vertical-align: middle;
	margin-bottom: 8px;
}
div.title span{
	display: inline-block;
	vertical-align: middle
}

div.image{
	 text-align: center;
	 height: 250px
}

div.image img{
	 max-height: 250px;
	 max-width: 100%
}

.authors{
	max-height: 5em;
}

@media only screen and (max-width: 600px) {
	div.book-card{
		height: auto;
		overflow: auto;
	}
}