div{
	margin: 0;
	padding: 0;
}
.book{
	display: list-item;
	float: left;
	border: 2px solid black;
	margin: 0;
	margin-right: 10px;
	padding: 5px 10px;
	align-content: center;
	width: 200px;
}
.bookTitle{
	text-align: center;
	border-bottom: 2px;
	
}
.bookImage{
	width: 100%;
	padding: 0;
	margin: 0;
}
.bookImage img{
	width: 100%;
	padding: 0;
	margin: 0;
}
.bookTitle{
	font-weight: bold;
	font-size: 1.5em;
}
.rating{
	display: inline-block;
	/*margin: 0;*/
	margin-top: 0;
	margin-bottom: 0;
}
.tag{
	display: inline-block;
	background-color: beige;
	margin-right: .25em;
	padding: 0 .25em;
	list-style: none;
}
.authors ul{
	list-style: none;
	padding: 0;
	display: block;
}

.authors ul li{
	display: list-item;
	float: left;
	padding: 0 .25em;
	margin-right: .25em;
	background-color: beige;
}

.links ul{
	list-style: none;
	padding: 0;
	display: block;
}

.links ul li{
	display: list-item;
	float: left;
	padding: 0 .25em;
	margin-right: .25em;
	background-color: beige;
}