.search{
	background: white;
	color: black;
}

.search input, .search label, .mat-focused input, .mat-focused label, .mat-form-field-label {
	color: black !important;
}

.search mat-form-field{
	display: flex;
}

.search mat-checkbox{
	display: flex;
}

#list-wrapper{
	padding-top: 16px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

form{
	padding: 16px;
}

.left-align{
	justify-content: left;
}
.right-align{
	justify-content: right;
}

@media only screen and (max-width: 679px) {
	horse-book-list-item{
		height: inherit;
	}
}