<div class="search">
	<div>
		<ul>
			<li>
				<input type="textbox" id="search" [(ngModel)]="searchVal" placeholder='{{ searchValPlaceholder }}' />
			</li>
			<li>
				<div>
					<input type="checkbox" name="expired" id="expired" [(ngModel)]="showExpired" /><label for="expired">Show Expired</label>
				</div>
				<div>
					<input type="checkbox" name="mature" [(ngModel)]="showMature"/><label for="mature">Show Mature</label>
				</div>
			</li>
		</ul>
	</div>
</div>
<mat-grid-list cols="4" rowHeight="550">
	<mat-grid-tile *ngFor = "let book of ( books | search : searchVal | showExpired : showExpired | showMature: showMature | orderBooks)" [style.background]="primary">
		<horse-book-list-item [book]=book></horse-book-list-item>
	</mat-grid-tile>
</mat-grid-list>