#book{
	min-width: 350px;
	max-width: 436px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
}

#cover-image{
	width: 318px;
	margin: 0 auto;
}

@media screen and (max-width: 350px){
	#cover-image{
		max-width: 500px !important;
		width: 100% ;
		margin: 0;
		padding: 0;
	}
}