<mat-card id="book">
	<mat-card-title>{{ book.title }}</mat-card-title>
	<img id="cover-image" src="{{book.img}}"/>
	<table>
		<tbody>
			<tr>
				<th>Rating</th>
				<td>{{ book.rating }}</td>
			</tr>
			<tr *ngIf='book.edition !== null && book.edition !== ""'>
				<th>Edition</th>
				<td>{{book.edition}}</td>
			</tr>
			<tr>
				<th>Authors</th>
				<td>
					<ul *ngFor='let author of book.authors'><li><a href="{{author.url}}">{{author.name}}</a></li></ul>
				</td>
			</tr>
			<tr>
				<th>Links</th>
				<td>
					<ul *ngFor='let link of book.links'><li><a href="{{link.url}}">{{link.title}}</a></li></ul>
				</td>
			</tr>
			<tr>
				<th>Tags</th>
				<td>
					<ul *ngFor='let tag of book.tags'><li>{{tag}}</li></ul>
				</td>
			</tr>
			<tr>
				<th>Date Added</th>
				<td>{{book.dateAdded}}</td>
			</tr>
			<tr>
				<th>Expiry</th>
				<td *ngIf="book.expiry !== null && book.expiry !== ''">{{book.expiry}}</td>
				<td *ngIf="book.expiry === null || book.expiry === ''">-</td>
			</tr>
			<tr>
				<th>ID</th>
				<td>{{book.id}}</td>
			</tr>
		</tbody>
	</table>
</mat-card>