<div>
	<table class="w3-table-all w3-card-4">
		<thead>
			<tr>
				<th colspan="2" class="w3-blue-grey"><h1>{{ book.title }}</h1></th>
			</tr>
		</thead>
		<tbody>
			<tr class="image-row">
				<td colspan="2"><img src="{{book.img}}" style="max-height: 300px;"/></td>
			</tr>
			<tr>
				<th>Rating</th>
				<td>{{ book.rating }}</td>
			</tr>
			<tr *ngIf='book.edition !== null && book.edition !== ""'>
				<th>Edition</th>
				<td>{{book.edition}}</td>
			</tr>
			<tr>
				<th>Authors</th>
				<td>
					<ul *ngFor='let author of book.authors' class="w3-ul w3-hoverable"><li><a href="{{author.url}}">{{author.name}}</a></li></ul>
				</td>
			</tr>
			<tr>
				<th>Links</th>
				<td>
					<ul *ngFor='let link of book.links' class="w3-ul w3-hoverable"><li><a href="{{link.url}}">{{link.title}}</a></li></ul>
				</td>
			</tr>
			<tr>
				<th>Tags</th>
				<td>
					<ul *ngFor='let tag of book.tags' class="w3-ul w3-hoverable"><li>{{tag}}</li></ul>
				</td>
			</tr>
			<tr>
				<th>Date Added</th>
				<td>{{book.dateAdded}}</td>
			</tr>
			<tr>
				<th>Expiry</th>
				<td *ngIf="book.expiry !== null && book.expiry !== ''" class="w3-ul w3-hoverable">{{book.expiry}}</td>
				<td *ngIf="book.expiry === null || book.expiry === ''" class="w3-ul w3-hoverable">-</td>
			</tr>
			<tr>
				<th>ID</th>
				<td>{{book.id}}</td>
			</tr>
		</tbody>
	</table>
</div>