
// @import '~@angular/material/prebuilt-themes/deeppurple-amber';
// @import '~@angular/material/prebuilt-themes/indigo-pink';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey';
// @import '~@angular/material/prebuilt-themes/purple-green';

@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

$custom-theme-primary: mat-palette($mat-indigo);
$custom-theme-accent: mat-palette($mat-grey);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);
