/* You can add global styles to this file, and also import other style files */
@import './custom-theme';

.mat-primary a, .mat-primary a:hover, .mat-primary a:visited, .mat-primary a:link, 
body, body a, body a:hover, body a:visited, body a:link,
footer a, footer a:hover, footer a:visited, footer a:link{
	color: mat-color($mat-grey, A100) !important;
}

.mat-card a, .mat-card a:hover, .mat-card a:visited, .mat-card a:link{
	color: mat-color($mat-grey, A700) !important;
}

a, a:visited, a:link
{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

body{
	min-width: 350px;
	margin: 0;
	padding: 0;
	background-color: mat-color($mat-grey, A700);
}

#book{
	margin-top: 16px;
}

@media screen and (max-width: 468px){
	book-detail{
		margin: 0;
		padding: 0;
	}
	#book{
		max-width: 500px !important;
		// width: inherit;
		margin: 0 !important;
		padding: 0;
	}
}
@media screen and (max-width: 350px){
	#cover-image{
		max-width: 500px !important;
		width: 100%;
		margin: 0 !important;
		padding: 0;
	}

}