/* You can add global styles to this file, and also import other style files */
@import './custom-theme';

a, a:hover, a:visited, a:link{
	color: mat-color($primary, default-contrast);
}

a, a:visited, a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

body{
	min-width: 350px;
	margin: 0;
	padding: 0;
}